body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.span-color{
    color: violet;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    float: left;
    text-align: left;
    padding-left:5%;
}
.half-img{
    width: 80%;
}
.link-button{
    color: aliceblue;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    margin: 10px;
    padding: 10px 40px;
    border-radius: 6px;
    background-image: linear-gradient(45deg,rgb(204, 154, 228) , rgb(156, 11, 223)  );
    font-weight: 700;
}
.half-width p{
    text-align: left;
}
.top{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.mid{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.low{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box-shadow{
    width: 40%;
    margin-left:5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5px;
    margin-bottom: 200px;
}
h2{
    font-size: 40px;
}
#full-developer{
    border-left:10px solid tomato ;
}
#novice-developer{
    border-left: 10px solid blueviolet;
}
footer{
    text-align: center;
   
}
.topnav{
    background-color: rgba(172, 6, 172, 0.781);
    overflow: hidden;
    text-align: center;
}
.topnav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.topnav li{
    display: inline-block;
}
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    padding: 25px 20px;
    font-size: 15px ;
    font-weight: 800 ;
    text-align: center;

  }
  .topnav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(191, 126, 235);
    border-radius: 20px;
  }